footer{
    position: absolute;
    bottom: 0%;
    background-color: gray ;
    width: 100%;
}
footer .social{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}

.social a{
    font-size: 45px;
    color: white;
    animation-name: animation-social;
    animation-duration: 2s;
}

.social a:hover{
    transform: scale(1.2);
}



