footer{
    position: absolute;
    bottom: 0%;
    background-color: gray ;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
footer .social{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}

.social a{
    font-size: 45px;
    color: white;
    transition: all 150ms ease;
}

.social a:hover{
    transform: scale(1.2);
}



