
* {
    margin: 0%;
}
body{
    font-family:   'Montserrat';
    background: linear-gradient(45deg, #ffcc5c 20%, #3c3c3c 20% 50%, #ff6f69 50% 80%, #96ceb4 80%);
    min-height: 100%;
    color: white;
    padding-bottom: 100px;
    position: relative;
}
#main-text{
    margin-bottom: 50px;
}
.container{
    width: 85%;
    max-width: 12000px;
    margin: 0 auto;
    color: white;
}
img{
    width: 200px;
    height: 400px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px ;
    float: left;
    margin-right: 9px;
}
.caja{
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    height: 600px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5,#23D5AB);
    background-size: 400% 400%;
    border-radius: 20px;
}
.texto-caja{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 20px;
    padding-left: 10px;
}

.flecha{
    width: 40px;
    height: 40px;
    background: #23A6D5;
    border-radius: 50%;
    font-size: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 85px;
    right: 50px;
    cursor: pointer;
    transition: all 200ms ease;
    outline: none;
}
.flecha:hover{
    transform: scale(1.1);
}
#icon{
    margin-left: 20px;
    margin-top: 15px;
    display:  inline-block;
    color: ghostwhite;
    font-size: 90px;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}
.time{
    outline: none;
    font-size: 30px;
    background: none;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
    float: left;
    align-items: center;
    color: #45fc88;
    transition: all 150ms ease;
}
.time:hover{
    transform: scale(1.1);
}
#hora{
    font-size: 30px;
    margin-top: 20px;
    float: left;
}
.weather-position{
    float: right;
    margin-top: 20px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5,#23D5AB);
    background-size: 400% 400%;
    width: 200px;
    height: 85px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
}
.input{
    text-align: center;
}

.display{
    text-align: center;
}
