* {
    margin: 0%;
}
body{
    font-family:  sans-serif;
    background: white;
}

#main-text{
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 600px;
}

.container{
    width: 85%;
    max-width: 12000px;
    margin: 0 auto;
}